div.bigMusa {
    height: 0;
    width: 0;
}
div.footerLabel {
    height: 0;
    width: 0;
}
div.fc1_bg {
    height: 0;
    width: 0;
}
div.fc1inlineContent {
    height: 0;
    width: 0;
}
div.strc1inlineContent {
    height: 0;
    width: 0;
}
div.bgColor {
    height: 0;
    width: 0;
}
div.fc1bg {
    height: 0;
    width: 0;
}
span.color_11 {
    width: 0;
    height: 0;
}
div.pc1screenWidthBackground {
    height: 0;
    width: 0;
}
#SITE_BACKGROUND_current_customBgImg3vn {
    display: none;
}
