div.topLabel {
    height: 0;
    width: 0;
}
div.wixAdsdesktopWADTop {
    height: 0;
    width: 0;
}
div.wrapper {
    height: 0;
    width: 0;
}
div.footerLabel {
    height: 0;
    width: 0;
}
div.bgColoroverlay {
    line-height: 0;
    letter-spacing: 0;
    height: 0;
    width: 0;
}
div.bigMusa {
    height: 0;
    width: 0;
}
