svg.icon-surface {
    color: #7d4f7d;
}
a.pad_hvrboe-o_O-navItem_14i09n4-o_O-logo_djpwtp {
    display: none;
}
div.headerSection_xuynyd-o_O-grow_10oodw2-o_O-alignLeft_1maz0e {
    color: #ffffff;
    background-color: #544680;
}
div.headerSection_xuynyd-o_O-grow_10oodw2-o_O-alignRight_1ebgk80 {
    background-color: #544680;
}
div.wrapper_8unojr {
    background-color: #544680;
}
a.pad_hvrboe-o_O-navItem_14i09n4-o_O-logo_djpwtp {
    height: 0;
    width: 0;
}
div.wrapper_8unojr {
    background-color: #544680;
}
